<div class="main">

  <div class="score">
    <h1>Rock, Paper, Scissors</h1>
    <button mat-raised-button color="basic" class="scoreboard">Score: {{ scores.player }} | {{ scores.computer }}</button>
    <button mat-mini-fab (click)="reset()" color="disabled">Reset</button>
  </div>

  <div class="board">
    <mat-card>
      <mat-card-title class="label">You</mat-card-title>
      <mat-card-content>
        <i @fadeSlideInOut class="fa fa-hand-{{playerChoice.toLocaleLowerCase()}}-o"></i>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title class="label">Computer</mat-card-title>
      <mat-card-content id="selectedByComputer">
        <i @fadeSlideInOut class="fa fa-hand-{{computerChoice.toLocaleLowerCase()}}-o"></i>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="select-weapon-board">
    <mat-card>
      <mat-card-title class="label" id="result">{{winner ? RESULTS[winner] : RESULTS[NEW]}}</mat-card-title>
      <i *ngFor="let w of WEAPONS | slice:1"
         (click)="play(w)"
         [@changeColorAnimation]="playerChoice == w ? 'ACTIVE' : 'DEFAULT'"
         id="idWeapon{{w}}" class="fa fa-hand-{{w.toLocaleLowerCase()}}-o select-weapon" style="font-size: 7em"></i>
    </mat-card>
  </div>

  <div class="statistics">
    <span>Played by all: {{playedByAll}}</span>
    <span>Played by you: {{playedByPlayer}}</span>
    <span>Total players: {{totalPlayers}}</span>
  </div>

</div>
